# Setup if you dont have this installed

In [1]:
# Run the cell below

In [1]:
!pip install psycopg2-binary
!pip install sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\omaro\anaconda3\lib\site-packages (2.9.2)
Requirement already satisfied: sqlalchemy in c:\users\omaro\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\omaro\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [2]:
# Or type this directly to the terminal or ananconda prompt Warning this below takes long time

In [3]:
conda install -c anaconda psycopg2

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
# OR type this directly to the terminal or ananconda prompt Warning this below takes long time

In [5]:
!pip install psycopg2-binary
!pip install sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\omaro\anaconda3\lib\site-packages (2.9.2)
Requirement already satisfied: sqlalchemy in c:\users\omaro\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\omaro\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

#  Everyone Turn - 01 - Functions - üë©‚Äçüéìüë®‚Äçüéì üë©‚Äçüè´üßë‚Äçüè´

In [1]:
# Basic Definition
def name(parameters):
    # code goes here
    return

In [2]:
# Simple Function with no parameters
def show():
    print(f"Hi!")
    

# You use parenthesis to run the code in a function
show()

Hi!

In [3]:
# Simple function with one parameter
def show(message):
    print(message)

# Think of the parameter `message` as a variable
# You assign the string "Hello, World!" when you call the function
# This is like saying `message = "Hello, World!"`
show("Hello, World!")

Hello, World!

In [4]:
# Functions can have more than one parameter
def make_quesadilla(protein, topping):
    quesadilla = f"Here is a {protein} quesadilla with {topping}"
    print(quesadilla)

In [5]:
# Supply the arguments (values) when calling the function
make_quesadilla("beef", "guacamole")
make_quesadilla("chicken", "salsa")


# @NOTE: Order is important when supplying arguments!
make_quesadilla("sour cream", "beef")

Here is a beef quesadilla with guacamole
Here is a chicken quesadilla with salsa
Here is a sour cream quesadilla with beef

In [6]:
# We can also specify default values for parameters
def make_quesadilla(protein, topping="sour cream"):
    quesadilla = f"Here is a {protein} quesadilla with {topping}"
    print(quesadilla)
    

# Make a quesadilla using the default topping
make_quesadilla("chicken")

# Make a quesadilla with a new topping
make_quesadilla("beef", "guacamole")

Here is a chicken quesadilla with sour cream
Here is a beef quesadilla with guacamole

In [7]:

# Functions can return a value
def square(number):
    return number * number

In [8]:
# You can save the value that is returned
squared = square(2)
print(squared)

# You can also just print the return value of a function
print(square(2))
print(square(3))

4
4
9

# Student Turn - 02  -- Wrestling With Functions - üë©‚Äçüéìüë®‚Äçüéì

# Wrestling with Functions

## Instructions

* Analyze the code and CSV provided, looking specifically for what needs to still be added to the application.

* Using the starter code provided, create a function called `print_percentages` which takes in a parameter called `wrestler_data` and does the following:

  * Uses the data stored within `wrestler_data` to calculate the percentage of matches the wrestler won, lost, and drew over the course of a year.

  * Prints out the stats for the wrestler to the terminal.

## Bonus

* Still within the `print_percentages()` function, create a conditional that checks a wrestler's loss percentage and prints either "Jobber" to the screen if the number was greater than fifty or "Superstar" if the number was less than 50.

In [9]:
import os
import csv

# Path to collect data from the Resources folder
wrestling_csv = os.path.join('.', 'Resources', 'WWE-Data-2016.csv')


# Define the function and have it accept the 'wrestler_data' as its sole parameter
def print_percentages(wrestler_data):
    # For readability, it can help to assign your values to variables with descriptive names


    # Total matches can be found by adding wins, losses, and draws together


    # Win percent can be found by dividing the the total wins by the total matches and multiplying by 100


    # Loss percent can be found by dividing the total losses by the total matches and multiplying by 100


    # Draw percent can be found by dividing the total draws by the total matches and multiplying by 100


    # If the loss percentage is over 50, type_of_wrestler is "Jobber". Otherwise it is "Superstar".


    # Print out the wrestler's name and their percentage stats


# Read in the CSV file
with open(wrestling_csv, 'r') as csvfile:

    # Split the data on commas
    

   

    # Prompt the user for what wrestler they would like to search for
   

    # Loop through the data


        # If the wrestler's name in a row is equal to that which the user input, run the 'print_percentages()' function

IndentationError: expected an indented block (Temp/ipykernel_15476/455611732.py, line 32)

<details>
  <summary><strong> ‚úÖ Solution 02</strong></summary>

```python
import os
import csv

# Path to collect data from the Resources folder
wrestling_csv = os.path.join('.', 'Resources', 'WWE-Data-2016.csv')


# Define the function and have it accept the 'wrestler_data' as its sole parameter
def print_percentages(wrestler_data):
    # For readability, it can help to assign your values to variables with descriptive names
    name = str(wrestler_data[0])
    wins = int(wrestler_data[1])
    losses = int(wrestler_data[2])
    draws = int(wrestler_data[3])

    # Total matches can be found by adding wins, losses, and draws together
    total_matches = wins + losses + draws

    # Win percent can be found by dividing the the total wins by the total matches and multiplying by 100
    win_percent = (wins / total_matches) * 100

    # Loss percent can be found by dividing the total losses by the total matches and multiplying by 100
    loss_percent = (losses / total_matches) * 100

    # Draw percent can be found by dividing the total draws by the total matches and multiplying by 100
    draw_percent = (draws / total_matches) * 100

    # If the loss percentage is over 50, type_of_wrestler is "Jobber". Otherwise it is "Superstar".
    if loss_percent > 50:
        type_of_wrestler = "Jobber"
    else:
        type_of_wrestler = "Superstar"

    # Print out the wrestler's name and their percentage stats
    print(f"Stats for {name}")
    print(f"WIN PERCENT: {str(win_percent)}")
    print(f"LOSS PERCENT: {str(loss_percent)}")
    print(f"DRAW PERCENT: {str(draw_percent)}")
    print(f"{name} is a {type_of_wrestler}")


# Read in the CSV file
with open(wrestling_csv, 'r') as csvfile:

    # Split the data on commas
    csvreader = csv.reader(csvfile, delimiter=',')

    header = next(csvreader)

    # Prompt the user for what wrestler they would like to search for
    name_to_check = input("What wrestler do you want to look for? ")

    # Loop through the data
    for row in csvreader:

        # If the wrestler's name in a row is equal to that which the user input, run the 'print_percentages()' function
        if name_to_check == row[0]:
            print_percentages(row)


```

</details>

# Instructor Turn - 03  -- Lambda Functions - üë©‚Äçüè´üßë‚Äçüè´

Here is a function that takes in a value x and returns x times itself. There are four parts to this function:
1. Name (`square`)
2. Parameter (`x`)
3. Code Block (`squared_value = x*x`)
4. Return statement (`return squared_value`)

In [10]:
def square(x):
    squared_value = x*x
    return squared_value

We can represent the same function with a lambda. It has no name, so we assign it to the variable `f` to demonstrate how to use it. It also has no code block, it only returns the expression `x*x`

In [11]:
f = lambda x: x*x

Both functions give the same result

In [12]:
square(5)

25

In [13]:
f(5)

25

But lambda functions are meant to be used when passed as a parameter (remember, in Python, functions are first-class variables!)

Here's a simple example: a function called `apply_function_twice` that takes in a function and applies it twice to a value `input_value`

In [14]:
def apply_function_twice(func, input_value):
    return func(func(input_value))

we can use `apply_function` to square the number 6 using `square`, `f`, or the original lambda function we assigned to `f`.

In [15]:
apply_function_twice(square, 3)

81

In [16]:
apply_function_twice(f, 3)

81

In [17]:
apply_function_twice(lambda x: x*x, 3)

81

lambda functions become really powerful when combined with Pandas, using the `apply()` method.

In [18]:
import pandas as pd

Suppose we have a dataset of candy with a handful of attributes, ratings, and costs

In [19]:
candy_df = pd.DataFrame(
    [{'candy':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
     {'candy':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
     {'candy':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
     {'candy':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
     {'candy':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
     {'candy':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
     {'candy':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
    ]
)
candy_df

             candy  has_chocolate  has_nuts  is_fruity  rating  cost
0         snickers           True      True      False     9.5  1.50
1         skittles          False     False       True     9.2  0.99
2        caramello           True     False      False     8.3  0.99
3   circus peanuts          False     False      False     2.2  0.49
4  whatchamacallit           True      True      False     7.8  1.49
5        starburst          False     False       True     8.5  1.00
6         mars bar           True     False      False     7.2  1.30

Suppose we wanted to find a candy that
1. has chocolate,
2. does not have nuts, and
3. the rating-to-cost ratio is greater than 7

we can do this with `apply()` and a lambda function that takes in the entire row as its parameter

In [20]:
candy_df[candy_df.apply(lambda row: row['has_chocolate'] == True and 
                        row['has_nuts'] == False and 
                        row['rating']/row['cost'] > 7, axis=1)]

       candy  has_chocolate  has_nuts  is_fruity  rating  cost
2  caramello           True     False      False     8.3  0.99

We can also use lambda functions to create new columns. Suppose we want to make a personalized rating value adjustment. Let's say we really like fruity candy, so fruity candy gets a +1 to the rating, and we like chocolate, but only if the candy has nuts as well, so chocolate and nuts gives a +0.75 to the rating.

In [21]:
candy_df['adjusted_rating'] = candy_df.apply(lambda row: row['rating'] + row['is_fruity'] * 1 + row['has_chocolate']*row['has_nuts']*0.75, axis=1)
candy_df

,candy,has_chocolate,has_nuts,is_fruity,rating,cost,adjusted_rating
0,snickers,True,True,False,9.5,1.50,10.25
1,skittles,False,False,True,9.2,0.99,10.20
2,caramello,True,False,False,8.3,0.99,8.30
3,circus peanuts,False,False,False,2.2,0.49,2.20
4,whatchamacallit,True,True,False,7.8,1.49,8.55
5,starburst,False,False,True,8.5,1.00,9.50
6,mars bar,True,False,False,7.2,1.30,7.20

# Student Turn  - 04 -- Lambda Functions - üë©‚Äçüéìüë®‚Äçüéì

# Lambda Functions

## Instructions

* Use the existing code to load in the Movielens data into a DataFrame `movies_df`.

* Create a lambda function to filter `movies_df` to movies with more than 15 words in their title

* Create a lambda function to filter `movies_df` to only movies that have a budget over 1000 and have revenue more than one hundred times the budget value

* Use the existing code to load in a list of English words to `words_df`

* Create a lambda function to filter `words_df` to only those words that contain the letter `x`

* Note: example named functions have been created for each exercise. You will need to convert them into lambda functions.

In [22]:
import pandas as pd

In [23]:
movies_df = pd.read_csv(f'./Resources/movies_metadata.csv')

movies_df = movies_df[movies_df['adult'] == 'False'].drop('adult',axis='columns')
movies_df['video'] = movies_df['video'] == 'True'
movies_df['budget'] = movies_df['budget'].astype(int)
movies_df['revenue'] = movies_df['revenue'].astype(float)
movies_df['id'] = pd.to_numeric(movies_df['id'], errors='raise')
movies_df['popularity'] = pd.to_numeric(movies_df['popularity'], errors='raise')

C:\Users\omaro\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
def more_than_15_words(title):
    split_title = title.split() # split the title into a list of words
    number_of_words_in_title = len(split_title) # count the number of words in the title
    is_greater_than_15 = number_of_words_in_title > 15 # check if the number of words is greater than 15
    return is_greater_than_15 # return whether or not the title has more than 15 words

movies_df[movies_df['original_title'].map(more_than_15_words)]

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7241,NaN,5600000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,10338,tt0059797,en,Those Magnificent Men in Their Flying Machines...,Star studded comedy about a early 20th century...,5.191425,...,1965-06-03,29950000.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,or How I Flew from London to Paris in 25 hours...,Those Magnificent Men in Their Flying Machines...,False,6.4,40.0
7268,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,65332,tt0070061,it,"Film d'amore e d'anarchia, ovvero 'stamattina ...",Set in Fascist Italy before the outbreak of Wo...,0.614959,...,1973-02-23,0.0,120.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Love and Anarchy,False,7.0,8.0
8420,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,22638,tt0036910,en,The Chronicle History of King Henry the Fifth ...,Olivier mustered out of the navy to film this ...,1.200979,...,1944-11-24,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Henry V,False,7.0,25.0
9227,NaN,0,[],NaN,22616,tt0230575,en,Night of the Day of the Dawn of the Son of the...,"The makers of this parody of ""Night of the Liv...",0.022568,...,1991-01-01,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Night of the Day of the Dawn of the Son of the...,False,5.3,4.0
14093,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,36108,tt0973844,en,Chacun son cinema ou Ce petit coup au coeur qu...,A collective film of 33 shorts directed by dif...,10.604359,...,2007-05-19,0.0,100.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,To Each His Own Cinema,False,7.2,26.0
36826,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,270936,tt1023446,en,Ellen ten Damme: As I Was Wondering Where This...,Documentary about Dutch artist Ellen ten Damme...,0.003571,...,2007-04-19,0.0,66.0,[],Released,NaN,Ellen ten Damme: As I Was Wondering Where This...,False,0.0,0.0
38511,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132144,tt0072685,es,La batalla de Chile: La lucha de un pueblo sin...,Documents the rise of the right-wing movement ...,0.057128,...,1975-03-18,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}]",Released,NaN,The Battle of Chile - Part I,False,6.3,4.0
38514,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132148,tt0074187,es,La batalla de Chile: La lucha de un pueblo sin...,Chronicles the events immediately surrounding ...,0.004351,...,1976-03-13,0.0,88.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}]",Released,NaN,The Battle of Chile - Part II,False,6.8,4.0
38515,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132150,tt0078831,es,La batalla de Chile: La lucha de un pueblo sin...,Guzm√°n‚Äôs final instalment shifts from covering...,0.112442,...,1979-03-15,0.0,78.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}]",Released,NaN,The Battle of Chile - Part III,False,6.0,3.0
44215,NaN,0,"[{'id': 12, 'name': 'Adventure'}]",NaN,85854,tt0052156,en,The Saga of the Viking Women and Their Voyage ...,A group of lonely Viking women build a ship an...,0.587937,...,1957-12-01,0.0,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fabulous! Spectacular! Terrifying! The raw cou...,The Saga of the Viking Women and Their Voyage ...,False,2.0,3.0

In [25]:
# Find all the movies that have more than 15 words in their title using a lambda function.

In [26]:
def hundredfold_return(row):
    revenue = row['revenue']
    budget = row['budget']
    budget_over_1000 = budget > 1000
    revenue_over_100x = revenue > 100 * budget
    return revenue_over_100x and budget_over_1000
    
movies_df[movies_df.apply(hundredfold_return, axis=1)]

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
219,"{'id': 182813, 'name': 'Clerks Collection', 'p...",27000,"[{'id': 35, 'name': 'Comedy'}]",http://www.miramax.com/movie/clerks/,2292,tt0109445,en,Clerks,Convenience and video store clerks Dante and R...,10.513367,...,1994-09-13,3151130.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because they serve you doesn't mean they ...,Clerks,False,7.4,769.0
587,NaN,1488423,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",http://movies.disney.com/snow-white-and-the-se...,408,tt0029583,en,Snow White and the Seven Dwarfs,"A beautiful girl, Snow White, takes refuge in ...",16.263878,...,1937-12-20,184925486.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Happiest, Dopiest, Grumpiest, Sneeziest mo...",Snow White and the Seven Dwarfs,False,6.9,1973.0
893,NaN,4000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,770,tt0031381,en,Gone with the Wind,An American classic in which a manipulative wo...,14.240357,...,1939-12-15,400176459.0,238.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest romance of all time!,Gone with the Wind,False,7.7,995.0
941,"{'id': 261590, 'name': 'Living Dead Collection...",114000,"[{'id': 27, 'name': 'Horror'}]",NaN,10331,tt0063350,en,Night of the Living Dead,A group of people try to survive an attack of ...,14.384198,...,1968-10-01,30000000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If it doesn't scare you, you're already dead!",Night of the Living Dead,False,7.5,591.0
1003,NaN,3000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,12092,tt0043274,en,Alice in Wonderland,"On a golden afternoon, young Alice follows a W...",16.488937,...,1951-07-03,572000000.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world of wonders in One Great Picture,Alice in Wonderland,False,7.0,1557.0
1845,"{'id': 1575, 'name': 'Rocky Collection', 'post...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,1366,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,1976-11-21,117235147.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,False,7.5,1843.0
1865,"{'id': 9735, 'name': 'Friday the 13th Collecti...",550000,"[{'id': 27, 'name': 'Horror'}]",NaN,4488,tt0080761,en,Friday the 13th,Camp counselors are stalked and murdered by an...,12.146747,...,1980-05-09,59754601.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They were warned...They are doomed...And on Fr...,Friday the 13th,False,6.4,622.0
1873,"{'id': 91361, 'name': 'Halloween Collection', ...",300000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.theofficialjohncarpenter.com/hallow...,948,tt0077651,en,Halloween,"In John Carpenter's horror classic, a psychoti...",13.672759,...,1978-10-25,70000000.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Night He Came Home,Halloween,False,7.4,1066.0
1909,"{'id': 87250, 'name': 'Bambi Collection', 'pos...",858000,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",http://movies.disney.com/bambi,3170,tt0034492,en,Bambi,Bambi's tale unfolds from season to season as ...,13.698132,...,1942-08-14,267447150.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A great love story.,Bambi,False,6.8,1450.0
2248,NaN,12000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,692,tt0069089,en,Pink Flamingos,Notorious Baltimore criminal and underground f...,5.738871,...,1972-03-12,6000000.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An exercise in poor taste.,Pink Flamingos,False,6.2,111.0
2346,"{'id': 111751, 'name': 'Texas Chainsaw Massacr...",85000,"[{'id': 27, 'name': 'Horror'}]",NaN,30497,tt0072271,en,The Texas Chain Saw Massacre,Five friends visiting their grandfather's hous...,15.526413,...,1974-10-01,30859000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who will survive and what will be left of them?,The Texas Chain Saw Massacre,False,7.1,617.0
2595,"{'id': 64750, 'name': 'Blair Witch Collection'...",60000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.blairwitch.com/,2667,tt0185937,en,The Blair Witch Project,In October of 1994 three student filmmakers di...,14.838386,...,1999-07-14,248000000.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The scariest movie of all time is a true story.,The Blair Witch Project,False,6.3,1090.0
3226,NaN,24500,"[{'id': 27, 'name': 'Horror'}]",NaN,28172,tt0056875,en,Blood Feast,"In the sleepy suburbs of Miami, seemingly norm...",1.783412,...,1963-06-06,4000000.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You'll Recoil and Shudder as You Witness the S...,Blood Feast,False,5.3,26.0
3245,"{'id': 124950, 'name': 'American Graffiti Coll...",777000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,838,tt0069704,en,American Graffiti,A couple of high school graduates spend one fi...,9.188584,...,1973-08-01,140000000.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where were you in '62?,American Graffiti,False,6.9,330.0
3554,NaN,10000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,985,tt0074486,en,Eraserhead,Henry Spencer tries to survive his industrial ...,7.871001,...,1977-03-19,7000000.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where your nightmares end...,Eraserhead,False,7.5,500.0
3580,"{'id': 8945, 'name': 'Mad Max Collection', 'po...",400000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,9659,tt0079501,en,Mad Max,"In a dystopian future Australia, a vicious bik...",11.412619,...,1979-04-12,100000000.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Maximum Force Of The Future,Mad Max,False,6.6,1235.0
4316,NaN,130000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9462,tt0068935,cn,ÁåõÈæçÈÅéÊ±ü,Tang Lung arrives in Rome to help his cousins ...,11.116474,...,1972-06-01,85000000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Colosseum . . the battleground of Bruce Le...,The Way of the Dragon,False,7.4,235.0
5206,NaN,106000,"[{'id': 18, 'name': 'Drama'}]",NaN,46691,tt0065916,en,Joe,"Bill, a wealthy businessman, confronts his jun...",0.345862,...,1970-07-15,19319254.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep America Beautiful,Joe,False,5.4,9.0
5340,NaN,100000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,1842,tt0068837,en,The Legend of Boggy Creek,A documentary-style drama based on true accoun...,1.522753,...,1972-08-01,22000000.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A True Story.,The Legend of Boggy Creek,False,5.6,19.0
5452,"{'id': 267922, 'name': 'The Hills Have Eyes (O...",230000,"[{'id': 27, 'name': 'Horror'}]",NaN,12262,tt0077681,en,The Hills Have Eyes,"On the way to California, a family has the mis...",4.788002,...,1977-07-22,25000000.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A nice American family. They didn't want to ki...,The Hills Have Eyes,False,6.1,145.0
6913,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,618,tt0004972,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,...,1915-02-08,11000000.0,193.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,False,6.4,109.0
7121,NaN,70000,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",NaN,29473,tt0073282,en,Let's Do It Again,Clyde Williams and Billy Foster are a couple o...,1.411831,...,1975-10-11,11800000.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It's the same two dudes from ""Uptown Saturday ...",Let's Do It Again,False,7.7,10.0
7303,NaN,850000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9461,tt0070034,en,Enter the Dragon,A martial artist agrees to spy on a reclusive ...,10.687757,...,1973-08-17,90000000.0,99.0,"[{'iso_639_1': 'cn', 'name': 'ÂπøÂ∑ûËØù / Âª£Â∑ûË©±'}, {'i...",Released,Their deadly mission: to crack the forbidden i...,Enter the Dragon,False,7.3,489.0
7733,NaN,400000,"[{'id': 35, 'name': 'Comedy'}]",NaN,8193,tt0374900,en,Napoleon Dynamite,A listless and alienated teenager decides to h...,10.287419,...,2004-06-11,46118097.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's out to prove he's got nothing to prove.,Napoleon Dynamite,False,6.7,567.0
7788,"{'id': 475802, 'name': 'Super Size Me Collecti...",65000,"[{'id': 99, 'name': 'Documentary'}, {'id': 35,...",NaN,9372,tt0390521,en,Super Size Me,Morgan Spurlock subjects himself to a diet bas...,5.266103,...,2004-01-17,28575078.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The first ever reality-based movie ... everyth...,Super Size Me,False,6.6,520.0
8683,NaN,150000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.sonyclassics.com/badass/,5822,tt0067810,en,Sweet Sweetback's Baadasssss Song,After saving a Black Panther from some racist ...,1.435148,...,1971-04-23,15200000.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Film that THE MAN doesn't want you to see!,Sweet Sweetback's Baadasssss Song,False,4.7,19.0
9461,"{'id': 86113, 'name': 'Open Water Collection',...",130000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,83,tt0374102,en,Open Water,Two divers are left out at sea without a boat....,10.652818,...,2004-08-06,54667954.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Scream all you want.,Open Water,False,5.3,320.0
10660,NaN,169000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9687,tt0444653,en,Keeping Mum,A pastor preoccupied with writing the perfect ...,5.742659,...,2005-12-02,18564702.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some family secrets are best kept...buried.,Keeping Mum,False,6.5,165.0
11347,NaN,100000,"[{'id': 18, 'name': 'Drama'}]",http://www.facingthegiants.com/,18925,tt0805526,en,Facing the Giants,A losing coach with an underdog football team ...,7.485908,...,2006-09-29,10178331.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never give up. Never back down. Never lose faith.,Facing the Giants,False,6.6,64.0
11826,NaN,160000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.foxsearchlight.com/once/,5723,tt0907657,en,Once,A vacuum repairman moonlights as a street musi...,10.357064,...,2007-03-23,20710513.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How often do you find the right person?,Once,False,7.4,457.0
14192,"{'id': 41437, 'name': 'Paranormal Activity Col...",15000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.paranormalactivity-movie.com/,23827,tt1179904,en,Paranormal Activity,"After a young, middle class couple moves into ...",12.706424,...,2007-09-14,193355800.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What Happens When You Sleep?,Paranormal Activity,False,5.9,1351.0
15898,NaN,30000,"[{'id': 99, 'name': 'Documentary'}]",http://www.iamrogue.com/catfish,42296,tt1584016,en,Catfish,"Nev, a 24-year-old New York-based photographer...",5.174738,...,2010-09-17,3045943.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't let anyone tell you what it is.,Catfish,False,6.5,201.0
18338,NaN,1000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.devilinsidemovie.com,76487,tt1560985,en,The Devil Inside,"In Italy, a woman becomes involved in a series...",5.747675,...,2012-01-06,101758490.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No soul is safe.,The Devil Inside,False,4.6,263.0
31628,NaN,100000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://thegallowsmovie.com/,299245,tt2309260,en,The Gallows,20 years after a horrific accident during a sm...,7.515050,...,2015-07-10,42664410.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every School Has Its Spirit,The Gallows,False,4.9,370.0
41472,NaN,5000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,363093,tt5066556,ko,ÎåÄÌò∏,While the Kingdom of Korea is under occupation...,3.447894,...,2015-12-16,11083449.0,139.0,"[{'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}, {'iso_639...",Released,NaN,The Tiger: An Old Hunter's Tale,False,7.5,17.0
42308,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",https://a24films.com/films/a-ghost-story,428449,tt6265828,en,A Ghost Story,"Recently deceased, a white-sheeted ghost retur...",24.339781,...,2017-07-07,15584255.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's all about time,A Ghost Story,False,6.8,95.0

In [27]:
# Find all movies with budgets over 1000 that pulled in revenue over 100x their budget using a lambda function

In [28]:
# load in list of English words
words_file = './Resources/words.txt'

words_df = pd.read_csv(words_file, sep='\n', header=None)
words_df.columns = ['text']
words_df.head()

  text
0  the
1   of
2  and
3   to
4    a

In [29]:
def contains_x(word):
    split_word = list(word)
    word_contains_x = 'x' in split_word
    return word_contains_x

words_df[words_df['text'].map(contains_x)]

              text
97               x
120           next
274          index
347           text
449            box
...            ...
9748       expects
9759  examinations
9791       halifax
9808      examines
9872      lightbox

[246 rows x 1 columns]

In [30]:
# Find all words containing the letter 'x' using a lambda function

<details>
  <summary><strong> ‚úÖ Solution 04</strong></summary>

```python

import pandas as pd

# Read in data set
movies_df = pd.read_csv(f'./Resources/movies_metadata.csv')
movies_df.head()

def more_than_15_words(title):
    split_title = title.split() # split the title into a list of words
    number_of_words_in_title = len(split_title) # count the number of words in the title
    is_greater_than_15 = number_of_words_in_title > 15 # check if the number of words is greater than 15
    return is_greater_than_15 # return whether or not the title has more than 15 words

movies_df[movies_df['original_title'].map(more_than_15_words)]

# Find all the movies that have more than 15 words in their title using a lambda function.
movies_df[movies_df['original_title'].map(lambda x: len(x.split())>15)]

def hundredfold_return(row):
    revenue = row['revenue']
    budget = row['budget']
    budget_over_1000 = budget > 1000
    revenue_over_100x = revenue > 100 * budget
    return revenue_over_100x and budget_over_1000
    
movies_df[movies_df.apply(hundredfold_return, axis=1)]

# Find all movies with budgets over 1000 that pulled in revenue over 100x their budget using a lambda function
movies_df[movies_df.apply(lambda row: row['revenue'] > 100 * row['budget'] and row['budget'] > 1000, axis=1)]


# load in list of English words
words_file = './Resources/words.txt'

words_df = pd.read_csv(words_file, sep='\n', header=None)
words_df.columns = ['text']
words_df.head()

def contains_x(word):
    split_word = list(word)
    word_contains_x = 'x' in split_word
    return word_contains_x

words_df[words_df['text'].map(contains_x)]

# Find all words containing the letter 'x' using a lambda function
words_df[words_df['text'].map(lambda word: 'x' in list(word))]
```

</details>

# Instructor Turn - 05 -- Conditional List Comprehensions  - üë©‚Äçüè´üßë‚Äçüè´

Remember, list comprehensions when we first learned them followed the form

`[expression for element in source_list]`

But there's an optional section we can add at the end to filter based on a conditional expression

`[expression for element in source_list if filter_expression]`

For example, if we have a list of dogs with their name, age, and weight, and we want to see only the large dogs, we could write

`[dog for dog in dogs if dog['weight'] > 30]`

Here, 
* the first `dog` is the _expression_
* the second `dog` is the _element_
* `dogs` is the <i>source_list</i>
* `dog['weight'] > 30` is the <i>filter_expression</i>

Note that we can use the _element_ in our filter expression

In [31]:
# One way to create a list of even numbers is with a conditional list comprehension
# the expression is just 'x'
# the element is also 'x'
# the source_list will be 'range(100)'
# the filter_expression is 'x % 2 == 0'

even_numbers = [x for x in range(100) if x % 2 == 0]
even_numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [32]:
# We can also use a condition for our expression with an inline if
['Even' if x %2 == 0 else 'Odd' for x in range(20)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [33]:
# Given a list of dictionaries, we can filter them with a list comprehension
candies = [{'name':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
           {'name':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
           {'name':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
           {'name':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
           {'name':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
           {'name':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
           {'name':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
          ]

[candy for candy in candies if candy['has_nuts'] == False]

[{'name': 'skittles',
  'has_chocolate': False,
  'has_nuts': False,
  'is_fruity': True,
  'rating': 9.2,
  'cost': 0.99},
 {'name': 'caramello',
  'has_chocolate': True,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 8.3,
  'cost': 0.99},
 {'name': 'circus peanuts',
  'has_chocolate': False,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 2.2,
  'cost': 0.49},
 {'name': 'starburst',
  'has_chocolate': False,
  'has_nuts': False,
  'is_fruity': True,
  'rating': 8.5,
  'cost': 1.0},
 {'name': 'mars bar',
  'has_chocolate': True,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 7.2,
  'cost': 1.3}]

In [34]:
# To make it easier to read, we can just select the name of the candies
[candy['name'] for candy in candies if candy['has_nuts'] == False]

['skittles', 'caramello', 'circus peanuts', 'starburst', 'mars bar']

# Student Turn - 06 - Conditional List Comprehensions - üë©‚Äçüéìüë®‚Äçüéì

# Conditional List Comprehensions

## Instructions

Use conditional list comprehensions to create the following lists:

* Make a list of numbers up to 100 that are divisible by three
* Using the given list of pets, create a list of all the names that belong to dogs
* Make a list of numbers up to 100 that are divisible by three OR divisible by five

**Hint:** Remember the modulo operator (%) !

x % y gives the remainder if x is divided by y. So, for instance x % 2 will be 0 when x is even, and 1 when x is odd

**Bonus:** Make a list comprehension that implements FizzBuzz on the last list created (multiples of 3 and 5)
FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
**Hint:** use a conditional in the expression at the beginning of the list comprehension

Use conditional list comprehensions to create the lists requested in the following cells.

**Hint**: Remember the modulo operator (%) !

`x % y` gives the remainder if `x` is divided by `y`. So, for instance `x % 2` will be `0` when x is even, and `1` when x is odd

In [35]:
# Make a list of numbers up to 100 that are divisible by three

In [36]:
# Use conditional list comprehensions to create a list of all the pet names that are for dogs
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

# CODE a list comprehension

In [37]:
# Make a list of numbers up to 100 that are divisible by three OR divisible by five

In [38]:
# BONUS: Make a list comprehension that implements FizzBuzz on the previous list
# FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
# HINT: use a conditional in the expression at the beginning of the list comprehension

<details>
  <summary><strong> ‚úÖ Solution 06</strong></summary>


```python
# Make a list of numbers up to 100 that are divisible by three
[x for x in range(100) if x % 3 == 0]

# Use conditional list comprehensions to create a list of all the pet names that are for dogs
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

[pet['name'] for pet in pets if pet['type'] == 'dog']

# Make a list of numbers up to 100 that are divisible by three OR divisible by five
[x for x in range(100) if x % 3 == 0 or x % 5 == 0]


# BONUS: Make a list comprehension that implements FizzBuzz on the previous list
# FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
# HINT: use a conditional in the expression at the beginning of the list comprehension
['FizzBuzz' if x % 3 == 0 and x % 5 == 0 else 
     'Fizz' if x % 3 == 0 else 
         'Buzz' if x % 5 == 0 else ''
             for x in range(100) if x % 3 == 0 or x % 5 == 0]

```


</details>

# Instructor Turn - 07 -- Basic Regex - üë©‚Äçüè´üßë‚Äçüè´

In [39]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [40]:
# load in English words list
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

                                text
0  The Adventures of Sherlock Holmes
1              by Arthur Conan Doyle
2                           Contents
3        I.     A Scandal in Bohemia
4       II.    The Red-Headed League

In [41]:
# find all lines of text with the string 'Watson'
p = 'Watson'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
72      ‚ÄúWedlock suits you,‚Äù he remarked. ‚ÄúI think, Watson, that you have put
76       fancy, Watson. And in practice again, I observe. You did not tell me
174    and fifty guineas apiece. There‚Äôs money in this case, Watson, if there
207      Watson, who is occasionally good enough to help me in my cases. Whom
353         some good news for you. And good-night, Watson,‚Äù he added, as the
...                                                                       ...
8795     ‚ÄúThey always fill me with a certain horror. It is my belief, Watson,
9170   ‚ÄúMy dear Watson, you as a medical man are continually gaining light as
9203  that we had better go in without you. Now, Watson, put your shoulder to
9219  whose step I hear now upon the stair. I think, Watson, that it would be
9297   the country surgeon and Mrs. Rucastle, so I think, Watson, that we had

[81 rows x 1 columns]

In [42]:
# find all lines of text with the string 'Watson' that are followed by a space
p = 'Watson\s'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                        text
869    your narrative. I ask you not merely because my friend Dr. Watson has
1429                                Watson and I will follow in the second.‚Äù
2981   jot down the facts. You will sign it, and Watson here can witness it.
4949  came out into the frosty air. ‚ÄúRemember, Watson that though we have so

In [43]:
# find all lines of text with the string 'Watson' followed by a non-word character
p = 'Watson\W'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
72      ‚ÄúWedlock suits you,‚Äù he remarked. ‚ÄúI think, Watson, that you have put
76       fancy, Watson. And in practice again, I observe. You did not tell me
174    and fifty guineas apiece. There‚Äôs money in this case, Watson, if there
207      Watson, who is occasionally good enough to help me in my cases. Whom
353         some good news for you. And good-night, Watson,‚Äù he added, as the
...                                                                       ...
8795     ‚ÄúThey always fill me with a certain horror. It is my belief, Watson,
9170   ‚ÄúMy dear Watson, you as a medical man are continually gaining light as
9203  that we had better go in without you. Now, Watson, put your shoulder to
9219  whose step I hear now upon the stair. I think, Watson, that it would be
9297   the country surgeon and Mrs. Rucastle, so I think, Watson, that we had

[81 rows x 1 columns]

# Student Turn -- 08 - Basic Regex - üë©‚Äçüéìüë®‚Äçüéì

# Regular Expressions with Literal Characters and Character Types

## Instructions

* Load in the "Alice in Wonderland" text into a DataFrame `alice_df`.

* Create regular expression patterns to find all lines that 

    * contain the string `cat`,
    * contain the string ` cat` (beginning with a space),
    * contain the string ` cat` beginning with a space and ending with a non-word character.

In [44]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [45]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

                                                                       text
0                                          ALICE‚ÄôS ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [46]:
# find all lines of text with the string 'cat'

In [47]:
# find all lines of text with the string 'cat' that begin with a space

In [48]:
# find all lines of text with the string 'cat' that begin with a space and end with a non-word character

<details>
  <summary><strong> ‚úÖ Solution 08</strong></summary>
```python
import pandas as pd
pd.options.display.max_colwidth = 100

# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

# find all lines of text with the string 'cat'
p = 'cat'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text with the string 'cat' that begin with a space
p = '\scat'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text with the string 'cat' that begin with a space and end with a non-word character
p = '\scat\W'
alice_df[alice_df['text'].str.contains(p)]

```


</details>

# Extra Content -- Connection Strings - üë©‚Äçüéìüë®‚Äçüéì

# Instructions

1. There are six values in a connection string:
    * Protocol
    * User
    * Password
    * Location
    * Port
    * Database
Identify the six values in the connection string "postrgres://postgres:12345@localhost:5432/pets"

2. How is a connection string different than a website URL?

3. Create a connection string with the following values
    * Protocol: "mysql"
    * User: "admin"
    * Password: "p@ssw0rd123"
    * Location: "rds.us-east-2.amazonaws.com"
    * Port: "3306"
    * Database: "example"

# Solution

1. The six values are
    * Protocol: "postgres"
    * User: "postgres"
    * Password: "12345"
    * Location: "localhost"
    * Port: "5432"
    * Database: "pets"

2. Connection strings are URLs, but differ from website URLs by
    * Different protocol, i.e. "postgres" vs "http(s)"
    * Connection strings have user, password, and database, while website URLs do not
    * Website URLs have port 80 implied (but can use different ports, i.e. Jupyter Notebook)

3. The connection string is "mysql://admin:p@ssw0rd123@rds.us-east-2.amazonaws.com:3306/example"

# Instructor Turn -- Connection Strings - üë©‚Äçüè´üßë‚Äçüè´

In [49]:
protocol = "____"
user = "____"
password = "____"
location = "____"
port = "____"
database = "____"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

____://____:____@____:____/____

In [50]:
protocol = "postgres"
user = "postgres"
password = "Lenovo$01"
location = "localhost"
port = "5432"
database = "connectiontest"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

postgres://postgres:Lenovo$01@localhost:5432/connectiontest

# to_sql()

* **File:**
    [alice.txt](Activities/C3-Stu_to_sql()/Resources/alice.txt)

* **Instructions**

    * In pgAdmin, create a database called `alice_db`

    * Create a connection string and engine to connect to `alice_db`

    * Use the Pandas to_sql() method to load the contents of alice_df into a table called `alice`

In [51]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [52]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']

In [53]:
connection_string = f'postgres://postgres:{db_password}@localhost:5432/alice_db'
print(connection_string)
engine = create_engine(connection_string)

postgres://postgres:Lenovo$01@localhost:5432/alice_db

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgres

# Extra Content by TA

In [ ]:
engine = create_engine('postgresql+psycopg2://user:pswd@mydb')
df.to_sql('temp_table', engine, if_exists='replace')
sql = """
    UPDATE final_table AS f
    SET col1 = t.col1
    FROM temp_table AS t
    WHERE f.id = t.id
"""
with engine.begin() as conn:     # TRANSACTION
    conn.execute(sql)

In [ ]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from config import username, password
#username="postgres"
#password = "password_for_server"
protocol = "postgres"
location = "127.0.0.1"
port = "5432"
db = "practice"
class SQL_Database:
    def __init__(self, protocol, username, password, location, port, db):
        '''
        Store database credentials:
        Parameters:
            protocol - the protocol for the database
            username - database username
            password - database password
            location - the ip address for server location
            port     - port for connection
            db       - name of the database
        '''
        self.protocol = protocol
        self.username = username
        self.password = password
        self.location = location
        self.port = port
        self.db = db
    def connect(self):
        '''
        Lets setup a test for DB connection:
        Sets in Class object:
            engine - engine used to extract data
            conn   - connection value to verify connection
            cursor - the cursor item from the connection
        '''
        connection_string = f'{self.protocol}://{self.username}:{self.password}@{self.location}:{self.port}/{self.db}'  
        self.conn = psycopg2.connect(connection_string)
        self.cursor = self.conn.cursor()
        self.engine = create_engine(connection_string)
        print("Connected!")
        print(pd.DataFrame(self.engine.table_names(), columns=["Tables in database:"]))
    def insert_or_create(self,data_df, table_name):
        '''
        This will insert a new table if the table does not exist.
        If the table does exist we will append to the table
        Parameters:
            data_df    - a dataframe of the data we are inserting
            table_name - name of the table we are inserting the data into
        '''
        check=self.engine.has_table(table_name)
        if check == False:
            print("New table created")
            data_df.to_sql(name=table_name, con=self.engine, index=False)
        else:
            print("Table appended too")
            data_df.to_sql(name=table_name, con=self.engine, index=False, if_exists="append")

In [ ]:
# How to utilize it:
database = SQL_Database(protocol, username, password, location, port, db)
database.connect()
database.insert_or_create(data_loading_df, table_name)

# Instructor Turn to_sql() üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [ ]:
# load in Sherlock Holmes text
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']

In [ ]:
connection_string = f'postgres://postgres:{db_password}@localhost:5432/sherlock_db'

engine = create_engine(connection_string)

In [ ]:
protocol = ''
user = ''
location = ''
port = ''
db = ''
def connect():
    
    # Set up a connection to the postgres server.
    connection_string = f'{protocol}://{user}:{db_password}@{location}:{port}/{db}'
            
    conn = psycopg2.connect(connection_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [ ]:
connect()

In [ ]:
sherlock_df.to_sql(name="sherlock", con=engine, index=False)